#page-container{
    position: relative;
    min-height: 100vh; 
    background-image: url(https://images.unsplash.com/photo-1549443442-e981d27df640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) ;
}

#main {
    background-color: #ffffff;
    padding-bottom: 2.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top: 5px solid #eee;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
h1 { 
    background-color: #4aaaa5;
    color:ivory;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    width: fit-content;
    /* float: left; */
    display: inline-block;
    
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: gray;
    font-weight: bolder;
    text-decoration: none;
    text-align: justify;
    width: 100%;
    float: left;
    margin: 1%;
    margin-left: 5%;
    font-size: larger;
   padding-top: 1%;
}

body{
background-color: #4aaaa5;    
}

header { 
    background-color: #ffffff;
    
    margin-bottom: 50px;
    position: relative;
    height: 50px;
}

p{
    color: #777777;
    display: inline;
    font-weight: 200;
    font-family: monospace;
    font-size: larger;
}

footer{   
    width: 100%;
    background-color:#666666;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}


a {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
   }

 a:hover {
   font-size: large;
   font-weight: bold;
   border-style: dotted;
   border-color: lightslategray;
   border-width: 3px;
 }  

 .bottom-border{
    display: inline-block;
    width: 100%;
    font-style: oblique;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom: solid;
    border-color: lightgray;
    opacity: 50%;
}

.auto-size{
    height: 125px ;
    width: 125px;
    border-radius: 10%;
    padding: 2%;
    }
.name_header {
    background-color: #4aaaa5;
    padding: 12px 12px 12px 12px;
    display: inline-block;
    border: solid ;
    border-width: thin;
    margin-left: 10%;
   
   
}

nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: monospace;
    color: #222;        
    padding:0 1rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
} 
#inline_Paragraph{
    display: inline-block;
    width: 70%;
    text-align: justify;
    position: absolute;
    margin-left: 1%;
    }
#inline_image{ 
display:inline-block;

}
#photo-container{
    height: 20%;
    width: 100%;
    position: relative;
}